body{
  margin:0;
  font-family:Arial;
  color:white;
  text-align:center;

  background: 
    linear-gradient(rgba(0,0,0,0.85), rgba(0,0,0,0.95)),
    url("https://images.unsplash.com/photo-1550751827-4bd374c3f58b");

  background-size:cover;
  background-position:center;
  background-attachment:fixed;
}
